.row.row {
	max-width: 100%;
	margin: 0em;
	padding: 0em;
}

.landing {
	background-image: url(/static/img/wesupportbg.jpg);
	background-attachment: scroll;
	background-size: cover;
	height: 140%;
}

.info {
	background-color: transparent;
}

.demo-btns {
	background-color: transparent;
}

header h3 {
	text-align: center;
	color: white
}

.modal__dialog {
	width: 100%;
}

.btn {
	width: 100%;
}

div#modal3 {
	overflow: hidden;
}

div#modal2 {
	overflow: visible;
	height: auto;
}

h3 {
	padding-top: 2em;
	color: whitesmoke;
}

.post {
	background-image: url(/static/img/postbg.png);
	height: 100%;
	background-size: cover;
}

input[type="textarea"] {
	width: 50%;
	height: 100px;
	margin-bottom: 3%;
	border: 1px solid black;
	border-radius: 25px;
}

.post a.waves-effect.waves-light.btn {
	width: 15%;
}

.postt {
	margin-top: 10%;
}

.postt h6 {
	margin-left: -32%;
}

nav ul li a {
	list-style: none;
	display: inline-block;
	color: maroon;
	font-weight: 900;
	font-size: 20px;
	margin-top: 1em;
}

.icon-logo {
	color: white;
	font-weight: 900;
	font-size: 30px;
}

header .nav {
	/*	background-color: rgba(0, 0, 0, 0.67);*/
	background-color: whitesmoke;
	height: 6em;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.form-box {
	background-color: rgba(0, 0, 0, 0.7);
	margin-top: 20%;
}

.form-box input {
	width: 75%;
	margin-left: 15%;
	margin-top: 5%;
}

.form-box h3 {
	color: whitesmoke;
	text-align: center;
}

.form-box textarea {
	width: 75%;
	margin-left: 10%;
	margin-top: 2%;
}

.button {
	display: inline-block;
	text-align: center;
	line-height: 1;
	cursor: pointer;
	-webkit-appearance: none;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: 0;
	padding: 0.85em 1em;
	/* margin: 0 0 1rem 0; */
	font-size: 0.9rem;
	background-color: #2199e8;
	color: #fefefe;
	margin-left: 25%;
	width: 50%;
	margin-bottom: 4%;
}

.head h2,
h5 {
	color: whitesmoke;
	height: 100%;
	font-size: 50px;
}

.head {
	margin-top: 10%;
}

flash {
	color: white;
}
