.row.row {
	max-width: 100%;
	padding: 0em;
	margin: 0em;
}

html {
	min-height: 100%;
}

body {
	height: 100%;
}

.slideshow {
	list-style: none;
	z-index: 1;
}

.slideshow li span {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	color: transparent;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: none;
	opacity: 0;
	z-index: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-animation: imageAnimation 24s linear infinite 0s;
	-moz-animation: imageAnimation 24s linear infinite 0s;
	animation: imageAnimation 24s linear infinite 0s;
}

.slideshow li h3 {
	position: absolute;
	text-align: center;
	z-index: 2;
	bottom: 150px;
	left: 0;
	right: 0;
	opacity: 0;
	font-size: 2em;
	font-family: 'roboto', sans-serif;
	text-transform: uppercase;
	color: #fff;
	-webkit-animation: titleAnimation 24s linear 1 0s;
	-moz-animation: titleAnimation 24s linear 1 0s;
	animation: titleAnimation 24s linear 1 0s;
}

@media only screen and (min-width: 768px) {
	.slideshow li h3 {
		bottom: 30px;
		font-size: 2em;
	}
}

@media only screen and (min-width: 1024px) {
	.slideshow li h3 {
		font-size: 2em;
	}
}

.slideshow li:nth-child(1) span {
	background-image: url(/images/1.jpg);
}

.slideshow li:nth-child(2) span {
	background-image: url(/images/2.jpg);
	-webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
	animation-delay: 6s;
}

.slideshow li:nth-child(3) span {
	background-image: url(/images/3.jpg);
	-webkit-animation-delay: 12s;
	-moz-animation-delay: 12s;
	animation-delay: 12s;
}

.slideshow li:nth-child(4) span {
	background-image: url(/images/4.jpg);
	-webkit-animation-delay: 18s;
	-moz-animation-delay: 18s;
	animation-delay: 18s;
}

@-webkit-keyframes imageAnimation {
	0% {
		opacity: 0;
		-webkit-animation-timing-function: ease-in;
	}
	12.5% {
		opacity: 1;
		-webkit-animation-timing-function: ease-out;
	}
	25% {
		opacity: 1;
	}
	37.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes imageAnimation {
	0% {
		opacity: 0;
		-moz-animation-timing-function: ease-in;
	}
	12.5% {
		opacity: 1;
		-moz-animation-timing-function: ease-out;
	}
	25% {
		opacity: 1;
	}
	37.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes imageAnimation {
	0% {
		opacity: 0;
		-webkit-animation-timing-function: ease-in;
		-moz-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	12.5% {
		opacity: 1;
		-webkit-animation-timing-function: ease-out;
		-moz-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	25% {
		opacity: 1;
	}
	37.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes titleAnimation {
	0% {
		opacity: 0;
	}
	12.5% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	37.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes titleAnimation {
	0% {
		opacity: 0;
	}
	12.5% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	37.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes titleAnimation {
	0% {
		opacity: 0;
	}
	12.5% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	37.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.no-cssanimations .slideshow li span {
	opacity: 1;
}


/*-----------------------------nav bar-----------------------------------*/

.menu {
	position: relative;
	background: #fff;
	margin-top: -1em;
	height: 3em;
}

.text-box {
	position: relative;
	color: whitesmoke;
	font-size: 18px;
	margin-top: 10%;
	margin-left: 2em;
	background: rgba(0, 0, 0, 0.44);
}

.row.text-box.small-6.columns {
	padding: 2em;
}


/*----------------------------------------------form--------------------------------------*/

.log-form {
	/*
	min-width: 320px;
	max-width: 475px;
*/
	height: 300px;
	/*	margin-left: 14em;
	*/
	background: #fff;
	float: right;
	position: relative;
	top: 50%;
	margin-top: 40%;
	/*	margin-left: 20%;*/
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
	@media(max-width: 40em) {
		width: 95%;
		position: relative;
		margin: 2.5% auto 0 auto;
		left: 0%;
		-webkit-transform: translate(0%, 0%);
		-moz-transform: translate(0%, 0%);
		-o-transform: translate(0%, 0%);
		-ms-transform: translate(0%, 0%);
		transform: translate(0%, 0%);
	}
}

form {
	display: block;
	width: 100%;
	padding: 2em;
}

h2 {
	width: 100%;
	color: lighten(@grey, 20%);
	font-family: 'open sans condensed';
	font-size: 1.35em;
	display: block;
	background: @grey;
	width: 100%;
	text-transform: uppercase;
	padding: .75em 1em .75em 1.5em;
	box-shadow: inset 0px 1px 1px fadeout(white, 95%);
	border: 1px solid darken(@grey, 5%);
	//text-shadow: 0px 1px 1px darken(@grey, 5%);
	margin: 0;
	font-weight: 200;
}

input {
	display: block;
	margin: auto auto;
	width: 100%;
	margin-bottom: 2em;
	padding: .5em 0;
	border: none;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 1.25em;
	color: #757575;
	&:focus {
		outline: none;
	}
}

.button {
	display: inline-block;
	width: 100%;
	background: @blue;
	float: right;
	border: 1px solid darken(@blue, 5%);
	padding: .5em 2em;
	color: white;
	box-shadow: inset 0px 1px 0px fadeout(white, 80%);
	&:hover {
		background: lighten(@blue, 5%);
	}
	&:active {
		background: @blue;
		box-shadow: inset 0px 1px 1px fadeout(black, 90%);
	}
	&:focus {
		outline: none;
	}
}

.forgot {
	color: lighten(@blue, 10%);
	line-height: .5em;
	position: relative;
	margin-bottom: 2%;
	text-decoration: none;
	font-size: .75em;
	margin: 0;
	padding: 0;
	&:hover {
		color: darken(@blue, 5%);
	}
	&:active {}
}


}