.landing {
	background-image: url(/static/hivbg.jpg);
	height: 100%;
	background-attachment: fixed;
	background-size: cover;
}

.form-box {
	background-color: rgba(10, 10, 10, 0.57);
	margin-top: 8%;
	text-align: center;
	color: white;
}

h2 {
	color: white;
	padding-top: 4%;
}

label {
	margin-top: 7%;
}

.button {
	background-color: red;
	margin-top: 5%;
	color: white;
	width: 100%;
}

.button:hover {
	background-color: white;
	color: red;
	width: 100%;
}

p {
	color: whitesmoke;
}

.header {
	font-family: 'Diplomata', cursive;
	font-size: 50px;
	height: 50px;
	font-weight: 50px;
	/*color: white;*/
}

placeholder {
	color: black;
}