<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>Pure CSS Fullscreen Fading Slideshow</title>
	<link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/foundation.min.css">
	<link rel="stylesheet" href="/css/app.css">
</head>

<body>
	<div class="row main">
		<ul class="slideshow">
			<li>
				<span>Slide One</span> </li>
			<li> <span>Slide Two</span> </li>
			<li> <span>Slide Three</span> </li>
			<li> <span>Slide Four</span> </li>
		</ul>
		<div class="row expanded small-12 columns">
			<ul class="menu align-right">
				<li>
					<a href="#"></a>
				</li>
				<li>
					<a href="#"></a>
				</li>
				<li><a href="#">Join</a></li>
				<li><a href="#">Home</a></li>

			</ul>
		</div>
		<div class="row text-center expanded small-12 columns">
			<div class="text-box small-4 columns">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis pariatur fugiat nobis deleniti amet dolor a unde porro harum id sit, eos ipsa velit odio. Consectetur cum, animi quidem odit.</p>
				<p>want to be a counsellor?</p>
				<a href="#features" class="button">Volunteer</a>
			</div>
			<div class="small-6 text-center columns">

				<div class="log-form">
					<h2>Welcome Back</h2>
					<form>
						<input type="email" title="username" placeholder="Email" />
						<input type="Password" title="username" placeholder="password" />
						<button type="submit" class="button">Login</button>
						<br>
						<a class="forgot" href="#">Don't have an account? JOIN</a>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>

</html>