<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>index </title>
	<link rel="stylesheet" type="text/css" href="/static/css/foundation.css">
	<link rel="stylesheet" type="text/css" href="/static/css/app.css">
</head>
<div class="overlay"></div>
{% block body %}{% endblock %}
<script src="{{url_for('static',filename='js/vendor/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='js/vendor/what-input.min.js')}}"></script>
<script src="{{url_for('static',filename='js/foundation.min.js')}}"></script>
<script src="{{url_for('static',filename='js/app.js')}}"></script>

</html>