
{% extends "base.html" %}
{% block content %}
{% for post in stream %}
<!--<div class="small-4 columns"> &nbsp;</div>-->
<div class="small-4 columns small-centered post-box">
    <article class="postt">
        <div class="names">

              <div class="post">
                   <h6>
            <a href="{{ url_for('stream', username=post.user.username) }}">{{ post.user.username }}</a>
        </h6>
          <h6>  {{ post.content }}</h6>
        </div>
        <i class="clock"></i><time data-time="{{ post.timestamp }}" class="distime" datetime="{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}">{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</time><a href="{{ url_for('view_post', post_id=post.id) }}" class="view">View</a>

            </div>
    </article>
<div class="empty"></div>
    </div>
<!--<div class="small-4 columns"> &nbsp;</div>-->
{% endfor %}
{% endblock %}
