<!--page for registering-->
{% extends "layout.html" %} {% block body %}
<!--creating register form-->
<div class="row" id="registerpage">
	<div class="small-12 large-4 register form-box columns">
		{% if success %} Thank you for your message. We'll get back to you shortly. {% else %} {% for message in get_flashed_messages() %} {{ message }} {% endfor %}
		<form method="POST" action="">
			<div class="row">
				<div class="medium-6  large-12 columns">
					<label>User Name
						<input type="text" name="username" placeholder="Username">
					</label>
				</div>
			</div>
			<div class="row">
				<div class="medium-6  large-12 columns">
					<label>Email
						<input type="email" name="Email" placeholder="Email">
					</label>
				</div>
			</div>
			<div class="row">

				<div class="medium-6  large-12 columns">
					<label>Password
						<input type="password" name="password" placeholder="Password">
					</label>
				</div>
			</div>
			<div class="row">

				<div class="medium-6  large-12 columns">
					<label>Confirm Password
						<input type="password" name="password" placeholder="Password">
					</label>
				</div>
			</div>
			<div class="row">

				<div class="small-12 large-12 columns">
					<input type="submit" class="button" value="Register">
				</div>
			</div>
		</form>
	</div>
</div>
{% endif %}{% endblock %}
